.card {
  box-shadow: 10px 0px 5px rgba(51,151,51,1);
  text-align: left;
}

.card-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background: rgba(51,51,51,0.3);
}

.card-stats .stat {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  padding:10px;
}

.card:hover {
  transform: scale(1.05);
}
.card {
...
  transition: 0.5s ease;
  cursor: pointer;
  margin:5px;
}

.card-stats .stat img {
  width:170px;
  height:50px;
  /*border-radius: 80%;*/
  border: 1px solid #019831;
}